reference/

# EVM
evm/node_modules/
evm/cache/
evm/artifacts/
evm/typechain-types/
evm/dist/

# Stellar
stellar/target/
stellar/*/fuzz/target/
stellar/*/fuzz/artifacts/
stellar/*/fuzz/Cargo.lock

# Solana
solana/target/
solana/node_modules/
solana/.anchor/

# CKB
ckb/target/
ckb/build/
