/reference/

# EVM
evm/node_modules/
evm/cache/
evm/artifacts/
evm/typechain-types/
evm/dist/

# Stellar
stellar/target/
stellar/node_modules/
stellar/**/test_snapshots/
stellar/**/proptest-regressions/

# Solana
solana/target/
solana/node_modules/
solana/.anchor/

# CKB
ckb/target/
ckb/build/

# Root Node/TS Build & Dependencies
node_modules/
dist/
